
header{
  border-bottom: 2px solid blueviolet;
 
}
header ul{ text-align:right;
  
   
}
header ul li a:hover {
    background-color:#3498db;
    color: white;
    transition: 0.4s;
  }
header ul li{ display: inline-block;}
header ul li a { color: whitesmoke;
    background-color:black;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 15px;
    border-radius: 10px;
  text-align:right;
  
}
